<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://stripepaymentfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1ae38d25-14f4-4263-8e25-211c7d2ad897/resourceGroups/PaymentRG/providers/Microsoft.Web/sites/stripepaymentfunction</ResourceId>
    <UserName>$stripepaymentfunction</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://stripepaymentfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>